<!DOCTYPE html>
<html lang="en">

<head>
    <title>Technologie Chmurowe</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-static-top navbar-expand-md">
        <div class="container">
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
            </button> <a class="navbar-brand" href="#">Technologie chmurowe</a>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
            <script src=
            "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
                </script>
                <script>        
                    $.getJSON("https://api.ipify.org?format=json", function(data) { 
                    $("#gfg").html(data.ip);
                })
                </script>
                <h3>IP addres: </h3>
                <p id="gfg"></p>
                <script type="text/javascript">
                    document.write(Date());
                </script>
        </div>
    </div>
</body>

</html>